body {
    display: grid;
    grid-template-rows: 100px 40px 300px 100px;
}
header {
    background-color: rgba(255, 0, 0, 0.304);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
nav { 
    background-color: rgba(0, 0, 255, 0.318);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
main {
    background-color: rgba(255, 255, 0, 0.344);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}
footer {
    background-color: rgba(0, 128, 0, 0.303);
    display: grid;
    grid-template-columns: 2fr 3fr 100px;
}

article {
    border: dotted 2px darkblue;
    margin: 1rem;
}

nav article {
    margin: 1px;
}

#derecha {
    grid-row: 1 / 3;
}

#arriba {
    grid-column: 2 / 4;
}